@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --PaleBlue: hsl(221, 100%, 96%);
  --LightLavender: hsl(242, 100%, 89%);
  --DarkGrayBlue: hsl(224, 30%, 27%);
  --LightRed: hsl(0, 100%, 67%);
  --OrangeyYellow: hsl(39, 100%, 56%);
  --GreenTeal: hsl(166, 100%, 37%);
  --CobaltBlue: hsl(234, 85%, 45%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
body .attribution {
  position: absolute;
  bottom: 0;
  font-size: 0.7rem;
}
@media (max-width: 375px) {
  body .attribution {
    display: none;
  }
}
@media (max-width: 700px) {
  body {
    font-size: 1rem;
    padding: 5%;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 0.8rem;
    padding: 0;
  }
}
body .card {
  display: flex;
  align-items: center;
  height: 450px;
  max-width: 650px;
}
@media (max-width: 500px) {
  body .card {
    flex-direction: column;
    height: 100%;
  }
  body .card .left{
    width: 100%;
  }
  body .card .right{
    width: 100%;
  }
}
body .left {
  border-radius: 1rem;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: var(--LightLavender);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5%;
}
@media (max-width: 375px) {
  body .left {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    padding: 10%;
  }
}
body .left .heading {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  body .left .heading {
    font-size: 1.2rem;
  }
}
body .left .result {
  background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  body .left .result {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 375px) {
  body .left .result {
    margin: 1rem;
  }
  body .right ul li{
    line-height: 2rem;
  }
}
body .left .result span {
  color: var(--White);
  font-size: 4rem;
}
@media (max-width: 500px) {
  body .left .result span {
    font-size: 3rem;
  }
}
body .left .para {
  display: inherit;
  flex-direction: column;
  text-align: center;
}
body .left .para span {
  color: var(--White);
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  body .left .para span {
    font-size: 1.2rem;
  }
}
body .right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5%;
}
@media (max-width: 375px) {
  body .right {
    width: 100%;
  }
}
body .right .heading {
  color: var(--DarkGrayBlue);
  align-self: flex-start;
  font-weight: 800;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  body .right .heading {
    font-size: 1.2rem;
  }
}
body .right button {
  background-color: var(--DarkGrayBlue);
  color: var(--White);
  border: none;
  width: 100%;
  padding: 0.8rem;
  border-radius: 1.4rem;
  font-family: inherit;
  font-size: inherit;
}
body .right button:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}
body .right ul {
  list-style-type: none;
  width: 100%;
  line-height: 3rem;
  padding: 5%;
}
@media (max-width: 500px) {
  body .right ul {
    padding: 0;
  }
}
body .right ul li {
  font-weight: 700;
  color: hsl(244, 29%, 73%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .right ul li div:first-child {
  display: inherit;
}
body .right ul li div:first-child img {
  margin-right: 0.5rem;
}
body .right ul li .red {
  color: var(--LightRed);
}
body .right ul li .yellow {
  color: var(--OrangeyYellow);
}
body .right ul li .green {
  color: var(--GreenTeal);
}
body .right ul li .blue {
  color: var(--CobaltBlue);
}
body .right ul li div:last-child span {
  font-weight: 700;
  color: var(--DarkGrayBlue);
}/*# sourceMappingURL=style.css.map */