@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

.attribution {
  font-size: smaller;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Cream);
}
@media (max-width: 600px) {
  body {
    padding: 2rem 1rem;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
}
body .card {
  display: inherit;
  height: 26.5rem;
  width: 36rem;
  border-radius: 1rem;
}
@media (max-width: 600px) {
  body .card {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
body .card .left {
  height: 100%;
  width: 1000px;
  border-radius: 0.5rem 0 0 0.5rem;
  background-image: url(./images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
}
@media (max-width: 600px) {
  body .card .left {
    height: 80%;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    background-image: url(./images/image-product-mobile.jpg);
  }
}
@media (max-width: 320px) {
  body .card .left {
    height: 70%;
  }
}
body .card .right {
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}
@media (max-width: 600px) {
  body .card .right {
    height: 100%;
  }
}
body .card .right h1 {
  color: var(--Dark-grayish-blue);
  align-self: flex-start;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
}
body .card .right strong {
  color: var(--Very-dark-blue);
  font-family: "Fraunces", serif;
  font-size: 1.95rem;
}
@media (max-width: 320px) {
  body .card .right strong {
    font-size: 1.5rem;
  }
}
body .card .right p {
  color: var(--Dark-grayish-blue);
}
body .card .right .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
body .card .right .price span:first-child {
  color: var(--Dark-cyan);
  font-size: 2rem;
  font-family: "Fraunces", serif;
}
@media (max-width: 320px) {
  body .card .right .price span:first-child {
    font-size: 1.5rem;
  }
}
body .card .right .price span:last-child {
  color: var(--Dark-grayish-blue);
}
body .card .right button {
  background-color: var(--Dark-cyan);
  color: var(--White);
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  display: inherit;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: inherit;
  font-weight: 700;
}
body .card .right button span:first-child {
  font-size: 1.1rem;
}
body .card .right button:hover {
  cursor: pointer;
  background-color: hsl(158, 38%, 17%);
}
@media (max-width: 320px) {
  body .card .right button {
    font-size: inherit;
  }
}/*# sourceMappingURL=style.css.map */